.wrapper {
  max-width: 62em;
  margin: auto;
  overflow: auto;
  height: auto;
}
/*.wrapper__inner {
  overflow: auto;
  height: auto;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  box-sizing: border-box;
  @include sb-media( 64em ) {
    width: 100%;
    max-width: 62rem;
  }

}*/