<h1>{{ about.title }}</h1>
{{> _content about.content_intro }}
{{> _content about.content_apprentice }}
{{> _content about.content_company }}
{{> _content about.content_why }}
<h1>{{ about.section_header }}</h1>
{{> _person }}

