    {{> _header--inside about }}

    <main class="wrapper">
   
      <section class="wrapper__inner content">
        {{> _content__header--inside about.section_headers.header_one }}
        {{> _content__section about.content_intro }}
        {{> _content__section about.content_apprentice }}
        {{> _content__section about.content_company }}
      </section>

      {{> _pullout about.content_pullout }}

      <section class="wrapper__inner content">
        {{> _content__header--inside about.section_headers.header_two }}
        {{> _content__section about.content_why }}
        {{> _person }}
      </section>

    </main>

    {{> _footer }}
    