---
layout: default
home:
  title:  Apprenticeships
  description:
  section_header:
    header: Available Apprenticeships
  content_callout:
    text:
      - paragraph: "Houston, we have a problem—with the web’s ever-changing nature, formal education no longer provides all the training needed to produce web builders. So we look to methods of the past to train for careers of the future. Enter the apprenticeship—an opportunity to sustainably satisfy the growing need for talented web professionals."
  nav:
    - item:
        text: learn about apprenticeships
        url: /about/
    - item:
        text: submit your apprenticeship
        url: /submit/
apprenticeship_categories:
- category:
  name: development
- category:
  name: design
- category:
  name: software
- category:
  name: mobile
- category:
  name: ux
apprenticeships:
- apprenticeship:
    company: Codurance
    anchor: codurance
    duration: 3 months
    location: ["London", "Manchester", "Barcelona"]
    category: software
    cta: learn more and apply
    company_url: https://codurance.com/
    apply_url: https://codurance.com/careers/become_a_craftsperson_in_training/
    summary: |
      Codurance Apprenticeship is a full-time, hands-on program targeted to people who want to learn the diverse set of skills required to become a complete software developer. It is suitable for people who have 1 to 2 years of software development experience or are confident in their basic software development skills. The program will focus on Agile process, XP practices, Software Craftsmanship Values, and a DevOps culture. It aims to prepare our apprentices to not only become effective software developers but also effective mentors, advisors, and consultants.
- apprenticeship:
    company: Detroit Labs
    anchor: detroit-labs
    duration: 3-4 months
    location: ["Detroit, MI"]
    category: development
    cta: learn more and apply
    company_url: http://detroitlabs.com/
    apply_url: https://www.detroitlabs.com/apprenticeships/
    summary: |
      The Detroit Labs Apprentice Program is an intensive, immersive training in software development. Apprentices receive classroom and hands-on training, gain experience in all aspects of software creation, and may be offered full-time employment with Detroit Labs partner companies upon successful completion of the program.
- apprenticeship:
    company: Gaslight
    anchor: gaslight
    duration: 6 months
    location: ["Cincinnati, OH"]
    category: development
    cta: learn more and apply
    company_url: http://teamgaslight.com
    apply_url: https://teamgaslight.com/careers/developer-apprenticeship
    covid_notice: true
    summary: |
      Gaslight is an agile software development shop in Cincinnati. We're currently partnering with a local Fortune 500 client to develop a brand new developer apprenticeship program. This paid, 6-month apprenticeship will allow you to contribute to real projects, collaborate with other apprentices, receive hands-on mentoring from Gaslight Chief Scientist Chris Nelson, and work onsite at this Fortune 500 client.
- apprenticeship:
    company: IQ Foundry
    anchor: iq-foundry
    duration: 6 months
    location: ["Madison, WI"]
    category: design
    cta: learn more and apply
    company_url: http://www.iqfoundry.com
    apply_url: http://www.iqfoundry.com/careers
    covid_notice: true
    summary: |
      An IQ Foundry Interactive Designer Apprenticeship is geared toward individuals with enough experience in graphic design, user experience design, web design, and/or animation to know that they are ready to learn how to turn those skills into a long-term career. You will be paired with a veteran designer who will spend a significant portion of their time working with you directly—mentoring and guiding your learning for months, perhaps even years, as you become strong in your craft.
- apprenticeship:
    company: Revelry
    anchor: revelry
    duration: 3 months
    location: ["New Orleans, LA"]
    category: software
    cta: learn more and apply
    company_url: https://revelry.co/
    apply_url: https://revelry.co/careers/
    summary: |
      We are currently seeking Software Engineer Apprentices who have experience in HTML, CSS, and JavaScript. The Revelry Apprenticeship is a three-month contract position designed to combine pair programming with a tutorial curriculum. This program will offer real-world experience on real client projects to fast track your career with the new skills you will learn.
- apprenticeship:
    company: Sparkbox
    anchor: sparkbox
    duration: 6 months
    location: ["Dayton, OH"]
    category: development
    cta: learn more and apply
    company_url: http://seesparkbox.com
    apply_url: http://apprentices.seesparkbox.com
    summary: |
      We’re looking for those interested in an apprenticeship in web development — frontend, backend, or anything code related. What we’re looking for most, however, are individuals who are excited to make their mark on the web industry.
- apprenticeship:
    company: Thoughtbot
    anchor: thoughtbot
    duration: 3 months
    location: ["Austin, TX", "Boston, MA", "London, UK", "New York, NY", "Raleigh, NC", "San Francisco, CA"]
    category: design
    cta: learn more and apply
    company_url: https://thoughtbot.com/
    apply_url: https://tbot.io/apprenticeship
    summary: |
      We want those ready to advance to the next level in their career. The program is ideal for designers with experience with graphical design for the web or iOS as well as HTML and CSS.
- apprenticeship:
    company: Thoughtbot
    anchor: thoughtbot
    duration: 3 months
    location: ["Austin, TX", "Boston, MA", "London, UK", "New York, NY", "Raleigh, NC", "San Francisco, CA"]
    category: development
    cta: learn more and apply
    company_url: https://thoughtbot.com/
    apply_url: https://tbot.io/apprenticeship
    summary: |
      We want those ready to advance to the next level in their career. The program is ideal for intermediate developers and designers looking to build upon an already-strong foundation.
- apprenticeship:
    company: Thoughtbot
    anchor: thoughtbot
    duration: 3 months
    location: ["Austin, TX", "Boston, MA", "London, UK", "New York, NY", "Raleigh, NC", "San Francisco, CA"]
    category: mobile
    cta: learn more and apply
    company_url: https://thoughtbot.com/
    apply_url: https://tbot.io/apprenticeship
    summary: |
      We want those ready to advance to the next level in their career. The program is ideal for developers at an intermediate level with Objective-C or Swift.
- apprenticeship:
    company: Twilio
    anchor: twilio
    duration: 6 months
    location: ["Denver, CO", "San Francisco, CA"]
    category: development
    cta: learn more and apply
    company_url: https://www.twilio.com/
    apply_url: https://www.twilio.com/hatch
    summary: |
      Hatch is a 6-month apprenticeship program at Twilio that aims to equip individuals having non-traditional technical backgrounds, giving them industry experience in designing, developing and delivering production-ready software systems. We encourage anyone from an underrepresented group in tech to apply for this position. This includes, but is not limited to, women and non-binary individuals, people of color, LGBTQIA+ individuals, people with disabilities, and veterans.
nav:
    - item:
        text: learn about apprenticeships
        url: /about/
    - item:
        text: submit your apprenticeship
        url: /submit/
---
{{> _header }}
<main class="wrapper">
  <section class="wrapper__inner content">
    {{> _content__callout home.content_callout }}
    {{> _action home }}
    {{> _content__header home.section_header }}
    {{> _categories }}
    {{> _apprenticeship }}
  </section>
</main>