<div class="wrapper">
  <div class="wrapper__inner">
    <h1>{{ home.title }}</h1>
  </div>
</div>
{{> _content--top home.content_callout }}
<div class="wrapper">
  <div class="wrapper__inner">
    <h1>{{ home.section_header }}</h1>
  </div>
</div>
{{> _apprenticeship }}