    [ SITE__HEADER ]

    <main class="wrapper">
   
      <section class="content">
        {{> _content home.content_callout }}
        {{> _content__header home.section_header }}
        {{> _apprenticeship }}
        
      </section>

    </main>

    [ SITE__FOOTER ]
    