    {{> _header }}

    <main class="wrapper">
   
      <section class="wrapper__inner content">
        {{> _content__callout home.content_callout }}
        {{> _action home }}
        {{> _content__header home.section_header }}
        {{> _apprenticeship }}
        {{> _report }}
      </section>

    </main>

    {{> _footer }}
