    {{> _header--inside submit }}

    <main class="wrapper">
   
      <section class="wrapper__inner content">
        {{> _content__header--inside submit.section_header }}
        {{> _form }}
      </section>

    </main>

    {{> _footer }}
