---
layout: default
lang: ja
title: "Submit"
---

{{> _header--inside submit }}
<main class="wrapper">
  <section class="wrapper__inner content">
    {{> _content__header_1--inside submit.section_header }}
    {{> _content__section submit.guidelines }}
    {{> _form }}
  </section>
</main>
{{> _footer }}
{{> _report }}
