---
layout: default
thank_you:
  title: Thank You
  content_pullout:
    text:
      - paragraph: 'Your apprenticeship is en route to the mothership.'
      - paragraph: "We'll review and get back to you soon."
---
{{> _header--inside thank_you }}
<main class="wrapper">
  {{> _pullout thank_you.content_pullout }}
</main>