<div class="wrapper">
  <section class="wrapper__inner content bg--white">
    {{#if header}}<h2 class="content__header">{{ header }}</h2>{{/if}}
    {{#forEach text}}
    <p>{{ paragraph }}</p>
    {{/forEach}}
  </section>
</div>