<footer class="footer wrapper">
  <section class="footer__inner wrapper__inner">
    <p class="footer__text">{{ footer.text }}</p>
    <div class="logo">
      <a class="sparkbox-logo" href="http://seesparkbox.com" title="Go to seesparkbox.com">
        {{> _footer__svg }}
      </a>
    </div>
  </section>
</footer>