<header class="wrapper">
  <section class="wrapper__inner header header--inside">
    <a href="/" title="Return Home" class="header__return-home">Home</a>
    <h1 class="header__title">{{ title }}</h1>
  </section>
</header>