<header class="wrapper">
  <section class="wrapper__inner header header--inside">
    <div class="header__content">
      <a class="link" href="/" title="Return Home">{{> _header_link_svg }}</a>
    </div>
  </section>
</header>