<header class="wrapper header">
    <div class="svg-fallback">
      <h1>Apprenticeships</h1>
      <img src="{{ assets }}/img/apprenticeships--animated.svg" alt="Apprenticeships" class="header--is-animated" />
    </div>
</header>