<section class="wrapper__inner pullout">
  <div class="pullout__block">
    {{#if header}}<h2 class="pullout__header">{{ header }}</h2>{{/if}}
    {{#forEach text}}
    <p>{{ paragraph }}</p>

    {{/forEach}}
  </div>
</section>
 