.apprenticeship {
  @include rem( padding-bottom, 3 );
  @include rem( padding-top, 1 );
  p {
    margin-top: 0;
  }
  .grid__item:first-child {
    @include sb-media( 45em ) {
      border-right: 4px solid $c--iceberg;
    }
  }
}

.apprenticeship__content {
  @include rem( margin-bottom, 2 );
  @include sb-media( 45em ) {
    margin-bottom: 0;
  }
}
.apprenticeship__header {
  color: $c--deep-sea-green;
  @include rem( margin-bottom, 2 );
  margin-top: 0;
  a {
    color: inherit;
  }
}
