.button {
  border: 4px solid $c--iceberg;
  box-sizing: border-box;
  display: inline-block;
  font-family: $secondary-font;
  font-size: .875em;
  font-weight: bold;
  @include rem( margin-top, 1 );
  @include rem( padding, .75 );
  position: relative;
  text-transform: uppercase;
  top: 0;
  transition: all .25s ease-in-out;
  width: auto;
  &::after, &::before {
    @include rem( bottom, -2 );
    content: "";
    display: block;
    @include rem( height, 1.875 );
    opacity: 0.0;
    position: absolute;
    @include rem( top, .9375 );
    transition: opacity .25s ease-in-out;
    @include rem( width, 1.875 );
  }
  &::after {
    background: url(../img/cloud--left.png) center center no-repeat;
    left: -29px;
  }
  &::before {
    right: -29px;
    background: url(../img/cloud--right.png) center center no-repeat;
  }
  &:hover {
    @include rem( top, -.25 );
    &::after, &::before {
      opacity: 1.0;
    }
  }
}
.apprenticeship__button {
  width: 100%;
  text-align: center;
  @include sb-media( 45em ) {
    width: auto;
  }
}
.action {
  text-align: center;
  @include rem( padding-bottom, 3 );
  @include sb-media( 45em ) {
    @include rem( padding-top, 2 );
  }
}
.action__button {
  width: 100%;
  @include sb-media( 55em ) {
    width: 45%;
  }
  @include sb-media( 60em ) {
    width: 40%;
  }
  @include sb-media( 65em ) {
    width: 35%;
  }
  &:first-child {
    @include sb-media( 55em ) {
      margin-right: 5%;
    }
  }
}
.form__button {
  width: 100%;
  background-color: transparent;
  @include rem( margin-top, 3 )
}
