.content {
  /*@extend %bg--light;*/
  color: $c--deep-sea-green;
  background: white;
  border-radius: $round;
}

/*.content--dark {
  @extend %bg--dark;
  color: $c--white;
}

.content--top {
  @extend %rounded--top;
}

.content--bottom {
  @extend %rounded--bottom;
}*/