.content {
  background: $c--white;
  @include rem( border-radius, .5 );
  color: $c--deep-sea-green;
  @include rem( padding-bottom, 2 );
}
.content__section {
  @include sb-media( 35em ) {
    @include rem( padding-left, 2 );
    @include rem( padding-right, 2 );
  }
  @include sb-media( 45em ) {
    @include rem( padding-left, 6 );
    @include rem( padding-right, 6 );
  }
  @include sb-media( 55em ) {
    @include rem( padding-left, 9 );
    @include rem( padding-right, 9 );
  }
  h1, h2, h3 {
    @include rem( margin-bottom, 1 );
    @include rem( margin-top, 3 );
  }
}
.content__callout {
    font-size: 1em;
  p {
    line-height: 1.5;
    @include rem( margin-bottom, 1 );
  }
  @include sb-media( 35em ) {
    font-size: 1.25em;
      p {
      line-height: 1.625;
      @include rem( margin-bottom, 1 );
    }
  }
  @include sb-media( 45em ) {
      p {
        margin-bottom: 0;
    }
  }
  @include sb-media( 50em ) {
    text-align: center;
    font-size: 1.625em;
      p {
      line-height: 1.75;
    }
  }
}
.content__header {
  border-top: 4px solid $c--iceberg;
  display: block;
  height: auto;
  overflow: auto;
  h1 {
    font-size: 2em;
    @include rem( margin-bottom, 1.5 );
    @include rem( margin-top, 2 );
    text-align: center;
    @include sb-media( 45em ) {
      font-size: 3.75em;
    }
  }
}
.content__header--inside {
  border-bottom: 4px solid $c--iceberg;
  border-top: none;
  @include rem( margin-bottom, 3 );
  @include sb-media( 35em ) {
    @include rem( margin-left, 2 );
    @include rem( margin-right, 2 );
  }
  @include sb-media( 45em ) {
    @include rem( padding-left, 4 );
  }
  @include sb-media( 55em ) {
    @include rem( padding-left, 7 );
  }
  h1 {  
    @include rem( margin-bottom, 2 );
    margin-top: 0;
    text-align: left;
  }
}
