.form__label {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 0.75em;
  @include rem( margin, 1, 0 );
  text-transform: uppercase;
}
.form__radio,
.form__input,
.form__select,
.form__textarea,
.form__button {
  border: 4px solid $c--iceberg;
  box-sizing: border-box;
  &:focus {
    border: 4px solid $c--juniper;
    outline: none;
  }
}
.form__radio {
  background-color: transparent;
  border: 4px solid $c--iceberg;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 $c--white;
  cursor: pointer;
  font: inherit;
  @include rem( height, 1.5 );
  outline: none;
  @include rem( width, 1.5 );
  vertical-align: middle;
  -webkit-appearance: none;
  &:checked {
    background-color: $c--juniper;
    box-shadow: inset 0 0 0 .1875em $c--white;
    transition: background .15s, box-shadow .1s; 
  }
}
.form__input {
  font-family: $secondary-font;
  @include rem( padding, .75 );
  width: 100%;
  &::-webkit-input-placeholder {
  text-transform: uppercase;
  }
}
.form__select {
  background: transparent url(../img/icon-down-arrow.svg) no-repeat 95% center;
  border-radius: 0;
  text-transform: uppercase;
  -webkit-appearance: none;
  @include rem( padding, .75 );
}
.form__textarea {
  @include rem( height, 6 );
  resize: none;
  width: 100%;
}
.form__range {
  background-color: $c--white;
  border: 4px solid $c--iceberg;
  @include rem( border-radius, .5 );
  @include rem( height, .75 );
  -webkit-appearance: none;
  &:focus {
    border: 4px solid $c--juniper;
    outline: none;
      &::-webkit-slider-thumb {
      background-color: $c--juniper;
      border: 4px solid darken($c--juniper, 10%);
    }
  }
  &::-webkit-slider-thumb {
    background-color: $c--iceberg;
    border: 4px solid darken($c--iceberg, 10%);
    @include rem( border-radius, .5 );
    cursor: pointer;
    @include rem( height, 1.5 );
    @include rem( width, .8 );
    -webkit-appearance: none;
  }
}
.form__button {
  background-color: transparent;
  font-family: $secondary-font;
  text-transform: uppercase;
}
.form__hint-text {
  color: $c--mine-shaft;
  font-size: .75em;
  line-height: 1;
  @include rem( margin-top, .5 );
}
