.form { @include rem(margin, 4, 0); }
.form__label {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 0.9em;
  @include rem( margin, 2, 0, .75 );
  text-transform: uppercase;
}
.form__radio,
.form__input,
.form__select,
.form__textarea,
.form__button,
.form__number {
  border: 4px solid $c--iceberg;
  box-sizing: border-box;
  &:focus {
    border: 4px solid $c--juniper;
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: $c--deep-sea-green;
  }
}
.form__select,
.form__number {
  color: $c--deep-sea-green;
} 
.form__radio {
  background-color: transparent;
  border: 4px solid $c--iceberg;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 $c--white;
  cursor: pointer;
  font: inherit;
  @include rem( height, 1.5 );
  outline: none;
  @include rem( width, 1.5 );
  vertical-align: middle;
  -webkit-appearance: none;
  &:checked {
    background-color: $c--juniper;
    box-shadow: inset 0 0 0 .1875em $c--white;
    transition: background .15s, box-shadow .1s; 
  }
}
.form__input,
.form__textarea
 {
  font-family: $secondary-font;
  @include rem( padding, .75 );
  width: 100%;
  &::-webkit-input-placeholder {
  text-transform: uppercase;
  }
}
.form__number, {
  @include rem( padding, .75 );
  @include rem( margin-right, .5 );
}
.form__number-text {
  font-family: $secondary-font;
  text-transform: uppercase;
  font-size: 0.75em;
}
.form__select {
  background: transparent url(../img/icon-down-arrow.svg) no-repeat 95% center;
  border-radius: 0;
  text-transform: uppercase;
  -webkit-appearance: none;
  @include rem( padding, .75 );
}
.form__textarea {
  @include rem( height, 6 );
  resize: none;
}
.form__button {
  background-color: transparent;
  font-family: $secondary-font;
  text-transform: uppercase;
}
