.no-svg .header {
  display: block;
}
.svg-fallback {
  h1 {
    display: none;
  }
  .no-svg & {
    height: 0;
    position: relative;
    padding-bottom: 44.5%; /* 16:7 */
    background:  url(../img/apprenticeships.png) top right no-repeat;
    background-size: contain;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    width: 94%;
    @include sb-media( 64em ) {
      @include rem( max-width, 62 );
      width: 100%;
    }
    h1 {
      display: block;
      position: absolute;
      top: 45%;
      width: 100%;
      font-size: 3em;
      transition: font-size .2s ease;
      @include sb-media ( 30em ) {
        top: 54%;
        font-size: 4em;
      }
      @include sb-media ( 40em ) {
        top: 60%;
        font-size: 6em;
      }
    }
    svg {
      display: none;
    }
  }
}

.header {
  h1 {
    color: $c--ice-cold;
    font-family: $heading-font;  
    font-size: 6em;
    font-weight: 300;
    @include rem( margin-bottom, 1 );
    @include rem( margin-top, 1 );
    text-align: center;
  }
}
.header--inside {
  @include rem( padding, 2 );
  &:before {
    background: url(../img/inside-header-bg.svg) top center no-repeat;
    content: '';
    display: block;
    @include rem( height, 16.875 );
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    .no-svg & {
      background: url(../img/inside-header-bg.png) top center no-repeat;
    }
  }
}

// SVG Responsiveness
#Satellite, #Tower, #Truck_1_, #Small_Rocket, #Astronaut, #Large_Rocket {
  display: none;
  opacity: 0.0;
  transition: all 1.25s;
}
#Small_Rocket {
  @include sb-media( 47em ) {
  opacity: 1.0;
  display: block;
 }
}
#Satellite {
  @include sb-media( 49em ) {
  opacity: 1.0;
  display: block;
 }
}
#Astronaut {
  @include sb-media( 51em ) {
  opacity: 1.0;
  display: block;
 }
}
#Large_Rocket {
  @include sb-media( 53em ) {
  opacity: 1.0;
  display: block;
 }
}
#Tower {
  @include sb-media( 55em ) {
  opacity: 1.0;
  display: block;
 }
}
#Truck_1_ {
  @include sb-media( 55em ) {
  opacity: 1.0;
  display: block;
 }
}

#Apprenticeships {
  transform: scaleX(1.2) scaleY(1.2) translate( -320px, -70px );
  transition: transform .5s ease-in-out;
  @include sb-media( 45em ) {
    transform: none;
  }
}
