.header {
  h1 {
    color: $c--ice-cold;
    font-family: $heading-font;  
    font-size: 6em;
    font-weight: 300;
    @include rem( margin-bottom, 1 );
    @include rem( margin-top, 1 );
    text-align: center;
  }
}
.header--inside {
  @include rem( padding, 2 );
  &:before {
    background: url(../img/inside-header-bg.svg) top center no-repeat;
    content: '';
    display: block;
    @include rem( height, 16.875 );
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    .no-svg & {
      background: url(../img/inside-header-bg.png) top center no-repeat;
    }
  }
}
