.header {
  h1 {
    color: $c--ice-cold;
    text-align: center;  
    font-family: $heading-font;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 6em;
  }
}
.header--inside {
  padding: $space--big;
  &:before {
    content: '';
    display: block;
    height: 270px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../img/inside-header-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    .no-svg & {
      background: url(../img/inside-header-bg.png);
    }
  }
}
