.person__photo {
  display: block;
  border-radius: 50%;  
  @include sb-media( 45em ) {
    @include rem( padding-right, 2 );
    @include rem( margin-top, .75 );
  }
  img, object {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 200px;
    border: none;
  }
}
.person {
  @include rem( margin-top, 4 );
  .person__name {
    line-height: 1;
    text-align: center;
    @include rem( margin-top, 2 );
    @include sb-media( 45em ) {
      margin-top: 0;
      text-align: left;
    }
  }
}
