.person__photo {
  border-radius: 50%;
  width: 100%;
  border: none;
}
h3.person__name {
  margin-top: 0;
}

.grid--person {
  margin-top: 2rem;
}

.stagger {
  padding: 0 $space--big 0 0;
  .person:nth-child(even) & {
    float: right;
    padding: 0 0 0 $space--big;
  } 
}