.person__photo img {
  border-radius: 50%;
  border: none;
  display: block;
  margin: auto;
  @include rem( width, 12.5 )
}
.person__name {
  margin-top: 0;
  text-align: center;
  @include sb-media( 45em) {
    text-align: left;
  }
}
.grid--person {
  @include rem( margin-top, 2 );
}
.stagger {
  margin: auto;
  @include sb-media( 45em ) {
    @include rem( padding, 2, 2, 0, 0 );
    .person:nth-child(even) & {
      float: right;
      @include rem( padding, 2, 0, 0, 2 );
    }
  }
}
