.pullout {
  text-align: center;
  color: $c--white;
  font-size: 1.125em;
  letter-spacing: 1px;
  position: relative;
  background: url(../img/pullout-bg.svg) no-repeat top center;
  background-size: contain;
  padding-bottom: 0;
  .no-svg & {
    background: url(../img/pullout-bg.jpg) no-repeat top left;
  }
  &:after { 
    background: url(../img/pullout-after.svg) bottom center no-repeat;
    background-size: contain;    
    bottom: 0;   
    content: '';   
    display: block;    
    @include rem( height, 6.25 );    
    position: absolute;    
    @include rem( right, 1.875 );    
    @include rem( width, 6.25 );   
    z-index: -1;   
    .no-svg & {    
      background: url(../img/pullout-after.png) bottom center no-repeat;   
    }    
  }
}
.pullout__block {
  @include rem( padding, 2, 2, 4, 2 );
  @include sb-media( 38em ) {
    @include rem( padding, 1, 1, 5, 1 );
  }
  @include sb-media( 50em ) {
    @include rem( padding, 3, 3, 5, 3 );
  }
}
