.pullout {
  text-align: center;
  color: $c--white;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  &:before {
    content: '';
    display: block;
    @include rem( height, 16.875 );
    left: 0;
    position: absolute;
    top: 0;
    width: 1000px;
    z-index: -1;



    background: url(../img/pullout-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    .no-svg & {
      background: url(../img/pullout-bg.png);
    }
  }
  &:after {
    background: url(../img/pullout-after.svg) bottom center no-repeat;
    background-size: contain;
    bottom: 0;
    content: '';
    display: block;
    @include rem( height, 6.25 );
    position: absolute;
    @include rem( right, 1.875 );
    @include rem( width, 6.25 );
    z-index: -1;
    .no-svg & {
      background: url(../img/pullout-after.png) bottom center no-repeat;
    }
  }
}
.pullout__block {
    @include rem( padding, 2 );
  @include sb-media( 38em ) {
    @include rem( padding, 1 );
  }
  @include sb-media( 50em ) {
    @include rem( padding, 3 );
  }
}
