/* Base */
body {
  background: $c--blue-whale;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
}
article, 
aside, 
footer, 
header, 
nav, 
section,
label,
input[type='text'],
input[type='email'] {
  display: block;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: $c--mine-shaft;
  font-family: $heading-font; 
  font-weight: normal;
  a {
    color: inherit;
  }
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2.5em;
}
ul, ol {
  list-style: none;
  padding-left: 0;
}
p {
  line-height: 1.5;
}
img {
  max-width: 100%;
}
a {
  color: $c--deep-sea-green;
  text-decoration: none;
}
