/* Utilities */

/* Typography */
$heading-font: Georgia, Times, serif;
$primary-font: Georgia, Times, serif;
$secondary-font: Helvetica, Arial, sans-serif;

/* Colors */
$deep-teal: #043743;
$dark-teal: #095E59;
$medium-teal: #68878E;
$light-teal: #B2F5F1;
$dark-gray: #3A3A3A;
$white: #FFF;
$black: #000;