// Config
$base-font-multiplier: 1;
$breakpoint-no-queries: false;
$breakpoint-no-query-wrappers: true;
$nomq: ".lt-ie9 &, .no-mq";
$hi-res: "@media (-webkit-min-device-pixel-ratio: 1.5, only screen) and (-o-min-device-pixel-ratio: 3/2, only screen) and (min-device-pixel-ratio: 1.5)";
$no-mq-support: false !default;
$serve-to-nomq-max-width: 60em !default;

// Typography
$heading-font: "bd-viewmaster", Georgia, Times, serif;
$primary-font: Georgia, Times, serif;
$secondary-font: Helvetica, Arial, sans-serif;

// Colors
$c--blue-whale: #043743;
$c--deep-sea-green: #095E59;
$c--juniper: #68878E;
$c--ice-cold: #B2F5F1;
$c--iceberg: #CEF0EE;
$c--mine-shaft: #3A3A3A;
$c--white: #FFF;
$c--black: #000;
$c--shady-lady: #A6A6A6;
