/* Config */

/* Typography */
$heading-font: Georgia, Times, serif;
$primary-font: Georgia, Times, serif;
$secondary-font: Helvetica, Arial, sans-serif;

/* Colors */
$c--blue-whale: #043743;
$c--deep-sea-green: #095E59;
$c--juniper: #68878E;
$c--ice-cold: #B2F5F1;
$c--mine-shaft: #3A3A3A;
$c--white: #FFF;
$c--black: #000;

/* Spacing */
$space--small: 1rem;
$space--big: 2rem;