.bg--white {
  background: $c--white;
}
.rounded--top {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.rounded--bottom {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}